html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all .2s linear;
}
    
body{
    font-family:"Times New Roman", Times, serif;
    background-repeat: no-repeat;
    background-image: url('./images/Blogback.jpg');
    background-size: 100% 100%;
    width: 100%;
}

/* Scroll back to top button */
.gotop{
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: rgb(72, 72, 72);
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgba(192, 191, 191, 0.805);
    font-size: 22px;
} 

/* Return to blog overview page button */
.return{
    position: fixed;
    width: 50px;
    height: 50px;
    color: rgb(187, 222, 255);
    bottom: 40px;
    left: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color:rgb(72, 72, 72);
    font-size: 22px;
} 

h1{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 15px;
    margin-top: 60px;
}

.header{
    box-sizing: border-box;
}

/* Logo's */
.logo{
    position: fixed;
    color: black;
    font-size: 30px;
    line-height: 60px;
    margin: 0 80px;
    font-weight: bold;
}

#logo{
    position: fixed;
    margin-top: 8px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

/* Navigation bar */
nav{
    background: rgba(192, 191, 191, 0.993);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(164, 164, 164);
    position: fixed;
    margin-top: -60px;
    opacity: 1;
}

nav ul{
    float: right;
    margin-right: 20px;
}

/* each button movement */
nav ul li{
    display: inline-block;
    line-height: 60px; 
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

a.active,a:hover{
    background: #ffffff;
    transition: .5s;
}

/* For the Burger Button */
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Search Bar */
.search-input-wrapper{
    width: 100%;
    height: 50px;
    background-color: rgb(164, 164, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.search-input-wrapper.change{
    opacity: 1;
    visibility: hidden;
    transition: all 0.5s 1s;
}

.search-input{
    width: 500px;
    display: flex;
    align-items: center;
}

.search-input input{
    width: 400px;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid whitesmoke;
    font-size: 25px;
    letter-spacing: 2.5px;
    outline: none;
    color: rgba(0, 0, 0, 0.993);
    margin-right: 20px;
}

.search-input i{
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.search-icon{
    font-size: 25px;
    position: absolute;
    top: 65px;
    right: 40px;
    visibility: hidden;
    animation: searchIconAnim2 .5s forwards;
}

.search-icon.change{
    animation: searchIconAnim 1s forwards;
}

.search-icon i{
    color: black;
    cursor: pointer;
}

@keyframes searchIconAnim{
    0%{
        top: 60px;
    }

    40%{
        top: 40%;
        font-size: 50px;
    }

    60%{
        top: 40%;
        right: calc(50% + 260px);
    }

    100%{
        top: 130px;
        right: calc(50% + 260px);
    }
}

@keyframes searchIconAnim2{
    0%{
        right: calc(50% + 260px);
    }

    100%{
        right: 65px;
    }
}


/* Appearance */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Blog Overview Page Cards */
#blogcontainer{
    padding: 5px;
    justify-content: center;
    align-self: center;
}


#blogcontainer .container{
    margin-bottom: -50px;
}

#blogcontainer .blog-post{
    width: 94.5%;
    max-width: 1504px;
    max-height: 245px;
    padding: 20px;
    background-color: #dbf4ff21;
    box-shadow: 0 22.4px 128px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 40px;
}

#blogcontainer .blog-post .blog-img {
    min-width: 160px;
    max-width: 500px;
    height: 160px;
}

#blogcontainer .blog-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin-left: -10px;
}

#blogcontainer .blog-post .blog-date span {
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 8px;
}

#blogcontainer .blog-info  h2{
    font-size: 20px;
    margin: 0 0 4.8px;
    text-transform: uppercase;
    color: #000000;
}

#blogcontainer .blog-info p{
    font-size: 18px;
    color: #272727;
    text-align: justify;
    padding-bottom: 10px;
}

#blogcontainer .blog-post .blog-btn{
    margin-bottom: 10px ;
    padding: 10px 9px;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

#blogcontainer .blog-info .blog-btn:hover{
    background-color: rgb(187, 222, 255);
    color: rgb(138, 138, 138);
    border: 0.1rem solid black;
} 


/* blog post section with back and next button */
#blog-container{
    background-image: url('./images/Postback.jpg');
    background-size: 100% 100%;
    width: 100%;

}

#blog-container .post h1{
    font-family:"Times New Roman", Times, serif;
    font-size: 25px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    margin-top: 60px;
}

#blog-container .post h2{
    font-size: 20px;
    text-decoration-line: underline;
    text-underline-offset: 4px
}

#blog-container .post h3{
    font-size: 18px;
    margin: 5px;
}


#blog-container .post p{
    font-size: 18px;
    text-align: justify;
    padding-bottom: 30px;
    margin: 5px;
}

#blog-container .blogpost{
    width: 60%;
    margin: 0px auto;
}

#blog-container .back-btn{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 25px;
    margin-bottom: 20px;
    margin-left: 100px;
}

#blog-container .back-btn:hover{
    background-color: rgb(187, 222, 255);
    color: rgb(0, 0, 0);
} 

#blog-container .back-btn2{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 25px;
    margin-bottom: 20px;
}

#blog-container .back-btn2:hover{
    background-color: rgb(187, 222, 255);
    color: rgb(0, 0, 0);
} 

#blog-container .designb{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 25px;
    margin-bottom: 20px;
    top: 100%;
}

#blog-container .designb:hover{
    background-color: rgb(254, 202, 255);
    color: rgb(0, 0, 0);
} 

/* footer design */
footer{
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
}


.footerbottom{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footerbottom p{
  color: rgb(0, 0, 0);
}

.designer{
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px 5px;
}

/* For sizing down the screen- media queries */
@media (max-width: 1500px){
    .logo{
        font-size: 30px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    /* blog overview page */
    #blogcontainer .blog-post{
        width: 90%;
        max-width: 1500px;
        max-height: 250px;
        margin: 40px 20px;
    }

    #blogcontainer .blog-post .blog-btn{
        padding: 12px 10px;
        font-size: 17px;
    }

    #blogcontainer .blog-img img {
        width: 100%;
        height: 100%;
        margin: -15px -5px;
    }
    
    #blogcontainer .blog-post .blog-date span {
        font-size: 20px;
        margin: 30px 8px 8px;
    }
    
    #blogcontainer .blog-info  h2{
        font-size: 23px
    }
    
    #blogcontainer .blog-info p{
        font-size: 20px;
    }

    /* blog post */
    #blog-container .blogpost{
        width: 75%;
        margin: 0px auto;
    }

    #blog-container .post h1{
        font-size: 30px;
    }
    
    #blog-container .post h2{
        font-size: 25px;
        text-decoration-line: underline;
        text-underline-offset: 4px
    }
    
    #blog-container .post h3{
        font-size: 20px;
    }
    
    
    #blog-container .post p{
        font-size: 20px;
    }

}
@media (max-width: 800px){
    .logo{
        font-size: 30px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    /* blog overview page */
    #blogcontainer .blog-post{
        width: 90%;
        max-width: 1200px;
        max-height: 270px;
        margin: 40px 9px;
    }

    #blogcontainer .blog-post .blog-btn{
        padding: 8px 9px;
        font-size: 14px;
    }

    #blogcontainer .blog-img img {
        width: 90%;
        height: 90%;
        margin: -15px -5px;
    }
    
    #blogcontainer .blog-post .blog-date span {
        font-size: 14px;
        margin: 30px 8px 8px;
    }
    
    #blogcontainer .blog-info  h2{
        font-size: 16px
    }
    
    #blogcontainer .blog-info p{
        font-size: 14px;
    }

    .checkbtn{
        margin-right: 40px;
    }
}

@media (max-width: 400px){
    .logo{
        position: fixed;
        font-size: 20px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    /* blog overview page */
    #blogcontainer .blog-post{
        width: 95%;
        max-width: 500px;
        max-height: 500px;
        margin: 40px 7px;
    }

    #blogcontainer .blog-post .blog-btn{
        padding: 4px 10px;
        font-size: 12px;
    }

    #blogcontainer .blog-post .blog-img {
        min-width: 100px;
        max-width: 200px;
        height: 200px;
    }

    #blogcontainer .blog-img img {
        width: 100%;
        height: 50%;
        margin: -15px -10px;
    }
    
    #blogcontainer .blog-post .blog-date span {
        font-size: 12px;
        margin: 30px 0px 8px;
    }
    
    #blogcontainer .blog-info  h2{
        font-size: 13px
    }
    
    #blogcontainer .blog-info p{
        font-size: 12px;
    }

    /* blog posts */
    #blog-container .blogpost{
        width: 70%;
        margin: 0px auto;
    }

    #blog-container .post h1{
        font-size: 20px;
    }
    
    #blog-container .post h2{
        font-size: 17px;
        text-decoration-line: underline;
        text-underline-offset: 4px
    }
    
    #blog-container .post h3{
        font-size: 15px;
    }
    
    
    #blog-container .post p{
        font-size: 15px;
    }

    .checkbtn{
        margin-right: 40px;
    }

    #blog-container .back-btn{
        font-size: 15px;
        padding: 7px 16px;
    }

    #blog-container .back-btn2{
        font-size: 15px;
        padding: 7px 16px;
    }

    #blog-container .designb{
        font-size: 16px;
        padding: 7px 12px;
    }
}

@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        padding: 30px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(198, 0, 248);
    }

    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 400px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 150vh;
        background-color: white;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        padding: 30px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(198, 0, 248);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

