html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    
body{
    font-family:"Times New Roman", Times, serif;
    background-repeat: no-repeat;
    background-image: url('./images/Designback.jpg');
    background-size: 100% 100%;
    width: 100%;
}

/* Scroll back to top button */
.gotop{
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: rgb(72, 72, 72);
    bottom: 40px;
    right: 50px;
    border-radius: 50%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
} 

h1{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 15px;
    position: absolute;
    top: 10%;
    left: 48%;
} 

/* Logo's */
.logo{
    position: absolute;
    color: black;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    font-weight: bold;
}

#logo{
    margin-top: 8px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

/* Navigation bar */
nav{
    background: rgba(192, 191, 191, 0.805);
    height: 60px;
    width: 100%;
    max-width: 200%;
}


nav ul{
    float: right;
    margin-right: 20px;
}

/* each button movement */
nav ul li{
    display: inline-block;
    line-height: 60px; 
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #ffffff;
    transition: .5s;
}

/* For the Burger Button */
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Design Cards for design page (overview) */ 
.container{
    width: 85%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
}

.cards{
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: .8rem;
    border: 0.1rem solid black;
    margin-bottom: -80px;
}

.image-section{
    margin: 40px;
    height: 220px;
    background-color: grey;
}

.cards .img{
    background-image: url('./images/Dicon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

.content h2{
    font-size: 18px;
    text-transform: uppercase;
}

.content p{
    margin: 15px 0px;
    font-size: 15px;
}

.content .button{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: .8rem;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
}

.content .button:hover{
    background-color: rgb(254, 202, 255);
    color: rgb(60, 60, 60);
}  

/* design post section with back button */
#d-container{
    background-image: url('./images/Postback.jpg');
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
}

#d-container .post h2{
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    top: 10%;
}

#d-container .post p{
    text-align: justify;
    padding-bottom: 30px;
}

#d-container .dpost{
    width: 55%;
    margin: 0px auto;
}

.imgmain{
    display:block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.back-btn{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 27px;
    margin-bottom: 20px;
}

.back-btn:hover{
    background-color:rgb(254, 202, 255);
    color: rgb(0, 0, 0);
} 

/* Wireframes */
/* Gallery */
.img-container h2{
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    top: 10%;
}

.img-container p{
    text-align: center;
    top: 10%;
}

.img-container{
    background-image: url('./images/Postback.jpg');
    background-size: contain;
    width: 100%;
}


#img-w{
    margin: 25px 10px;
    justify-items: center;
    height:430px;
    padding: 0px 0px;
    border: 1px solid black;
    margin-left: 30px;
}

/* #img-w a {
    position: relative;
}

#img-w a span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 1; 
} */

.back-btn2{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 27px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.back-btn2:hover{
    background-color:rgb(254, 202, 255);
    color: rgb(0, 0, 0);
} 

/* footer design */
footer{
    background-color: rgb(255, 255, 255);
    margin-top: 130px;
}

.footerbottom{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footerbottom p{
  color: rgb(0, 0, 0);
}

.designer{
    text-transform: uppercase;
    font-weight: 300;
    margin: -5px 5px;
}

/* For sizing down the screen- media queries */
@media (max-width: 900px){
    .logo{
        font-size: 30px;
        padding-left: 60px;
    }

    #logo{
        position: absolute;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    .image-section{
        margin: 50px;
    }

    .cards{
        margin-bottom: 0px;
    }
}

@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        padding: 30px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(198, 0, 248);
    }
    #check:checked ~ ul{
        left: 0;
    }
}