html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    
body{
    font-family:"Times New Roman", Times, serif;
    background-repeat: no-repeat;
    background-image: url('./images/Essayback.jpg');
    background-size: 100% 100%;
    width: 100%;
}

/* Scroll back to top button */
.gotop{
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: rgb(72, 72, 72);
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgba(192, 191, 191, 0.805);
    font-size: 22px;
} 

h1{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 15px;
    margin-top: 60px;
}

.header{
    box-sizing: border-box;
}

/* Logo's */
.logo{
    position: fixed;
    color: black;
    font-size: 30px;
    line-height: 60px;
    margin: 0 80px;
    font-weight: bold;
}

#logo{
    position: fixed;
    margin-top: 8px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

/* Navigation bar */
nav{
    background: rgba(192, 191, 191, 0.993);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(164, 164, 164);
    position: fixed;
    margin-top: -60px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

/* each button movement */
nav ul li{
    display: inline-block;
    line-height: 60px; 
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

a.active,a:hover{
    background: #ffffff;
    transition: .5s;
}

/* For the Burger Button */
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Essay Placeholder */
#essay{
    padding: 10px;
    display: flex;
}

#essay article{
    margin: 30px;
}

#essay .essayblock{
    width: 100%;
    margin: 10px auto 20px auto;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border: 0.1rem solid black;
    display: inline-block;
}

#essay .essaycon{
    padding: 20px 15px;
}

#essay .essaycon h2{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-align: center;
    margin: 15px;
}
#essay .essaycon h3{
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 540px;
    margin: 5px;
}

#essay .essaycon p{
    font-size: 19px;
    text-align:justify;
    margin: 10px;
}

#essay .eimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

#essay img{
    width: 100%;
    max-width: 400px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
}

/* footer design */
footer{
    background-color: rgb(255, 255, 255);
}

.footerbottom{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footerbottom p{
  color: rgb(0, 0, 0);
}

.designer{
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px 5px;
}

/* For sizing down the screen- media queries */
@media (max-width: 1500px){
    .logo{
        font-size: 30px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    #essay .essaycon h2{
        font-size: 25px;
        text-align: center;
        margin: 17px;
    }
    #essay .essaycon h3{
        margin: 5px;
        font-size: 20px;
        margin-left: 410px;
    }
    
    #essay .essaycon p{
        font-size: 23px;
        text-align:justify;
        margin: 10px;
    }

    #essay img{
        width: 100%;
        max-width: 600px;
        height: 400px;
        padding: 10px;
    }
}

@media (max-width: 800px){
    .logo{
        font-size: 30px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    #essay .essaycon h2{
        font-size: 18px;
        margin: 15px;
    }
    #essay .essaycon h3{
        margin: 5px;
        font-size: 16px;
        margin-left: 150px;
    }
    
    #essay .essaycon p{
        font-size: 16px;
        text-align:justify;
        margin: 10px;
    }

    #essay img{
        width: 100%;
        max-width: 400px;
        height: 250px;
        padding: 10px;
    }
}

@media (max-width: 400px){
    .logo{
        font-size: 30px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    h1{
        margin-left: 270px;
    }
    #essay{
        padding: 10px;
        display: inline-block;
    }

    #essay .essaycon h2{
        font-size: 18px;
        margin: 10px;
    }
    #essay .essaycon h3{
        margin: 5px;
        font-size: 16px;
        margin-left: 150px;
    }
    
    #essay .essaycon p{
        font-size: 16px;
        margin: 10px;
    }

    #essay img{
        width: 100%;
        max-width: 400px;
        height: 250px;
        padding: 10px;
    }

}

@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        padding: 25px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(198, 0, 248);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 400px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 200vh;
        background-color: white;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        padding: 30px 0px;
        margin-top: 60px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(198, 0, 248);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

