html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    
body{
    font-family:"Times New Roman", Times, serif;
    background-repeat: no-repeat;
    background-image: url('./images/Profback.jpg');
    background-size: 100% 100%;
    width: 100%;
}

/* Scroll back to top button */
.gotop{
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: rgb(72, 72, 72);
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgba(192, 191, 191, 0.805);
    font-size: 22px;
} 

h1{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 15px;
    margin-top: 60px;
}

.header{
    box-sizing: border-box;
}

/* Logo's */
.logo{
    position: fixed;
    color: black;
    font-size: 30px;
    line-height: 60px;
    margin: 0 80px;
    font-weight: bold;
}

#logo{
    position: fixed;
    margin-top: 8px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

/* Navigation bar */
nav{
    background: rgba(192, 191, 191, 0.993);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(164, 164, 164);
    position: fixed;
    margin-top: -60px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

/* each button movement */
nav ul li{
    display: inline-block;
    line-height: 60px; 
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

a.active,a:hover{
    background: #ffffff;
    transition: .5s;
}

/* For the Burger Button */
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


/* About Me Card */
.pcontainer{
    width: 80%;
    margin: 50px auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.pcards{
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: .8rem;
    border: 0.1rem solid black;
    height: 320px;
}


.pcontent{
    padding: 10px 10px;
    margin: 0px -5px;
    text-align: justify;
}

.pcontent h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.pcontent h3{
    text-align: center;
}

.pcontent p{
    margin: 10px 0px;
    font-size: 18px;
    text-align: left;
}

/* Portfolio cards for my projects*/
.container{
    width: 55%;
    padding: 10px 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 70px;
}

.cards{
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: .8rem;
    border: 0.1rem solid black;
    margin-bottom: 20px;
}

.image-section{
    margin: 30px;
    height: 160px;
    background-color: grey;
}


.cards .img{
    background-image: url('./images/Projpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .content{
    display: flex;
    align-items: center;
}


.content{
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -20px;
}


.content h2{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.content p{
    margin: 15px 0px;
    font-size: 18px;
}

.content .button{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: .8rem;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
}

.content .button:hover{
    background-color: rgb(188, 193, 255);
    color: rgb(60, 60, 60);
}  

/* Project Posts = Artworks and Games*/
/* art page */
.art{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 86px;
}

.art img{
    width: 100%;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border: 2px solid black;
}

.art h2{
    font-size: 18px;
    margin: 280px 0px auto -250px;
}

/* games page */
#gamecontainer{
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

#gamecontainer a{
    display: inline-block;
    border: 5px solid black;
    margin-left: 50px;
    font-weight: bold;
}

#gamecontainer h2{
    font-family:"Times New Roman", Times, serif;  
    text-align: center;  
    margin: 20px;
    font-size: 22px;
    text-decoration-line: underline;
    text-underline-offset: 5px
}

#gamecontainer h3{
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

#gamecontainer p{
    font-size: 18px;
    text-align: start;
    padding: 10px 50px 10px 50px;
}

#gamecontainer .game .imgmain{
    width: 100%;
    max-width: 450px;
    height: 300px;
    display: block;
    margin-left: 550px;
} 

#gamecontainer .back-btn2{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 17px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.back-btn2:hover{
    background-color: rgb(188, 193, 255);
    color: rgb(0, 0, 0);
} 

.back-btn2{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 17px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.back-btn2:hover{
    background-color: rgb(188, 193, 255);
    color: rgb(0, 0, 0);
} 

/* footer design */
footer{
    background-color: rgb(255, 255, 255);
}

.footerbottom{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footerbottom p{
  color: rgb(0, 0, 0);
}

.designer{
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px 5px;
}

/* For sizing down the screen- media queries */
@media (max-width: 1500px){
    .logo{
        font-size: 30px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    /* portfolio profile page */
    .pcontainer{
        width: 80%;
        margin: 85px auto;
        margin-bottom: 30px;
    }

    .pcontent{
        display: inline-block;
        margin-left: 20px;
    }


    .pcontent h2{
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .pcontent h3{
        text-align: center;
        font-size: 20px;
    }

    .pcontent p{
        margin: 5px 0px;
        font-size: 20px;
    }

    .pcards{
        height: 340px;
    }

    /* art and games cards */
    .container{
        width: 60%;
    }

    .content p{
        margin: 15px 0px;
        font-size: 20px;
    }

    /* art page */
    .art img{
        width: 100%;
        width: 350px;
        height: 350px;
    }

    .art h2{
        font-size: 25px;
        margin: 430px 0px auto -350px;
    }

    /* games page */
    #gamecontainer{
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    
    #gamecontainer a{
        display: inline-block;
        border: 5px solid black;
        margin-left: 50px;
        font-weight: bold;
        font-size: 30px;
    }
    
    #gamecontainer h2{
        margin: 25px;
        font-size: 30px;
        text-decoration-line: underline;
        text-underline-offset: 5px
    }
    
    #gamecontainer h3{
        font-size: 22px;
        text-align: center;
    }
    
    #gamecontainer p{
        font-size: 22px;
    }
    
    #gamecontainer .game .imgmain{
        width: 100%;
        max-width: 600px;
        height: 400px;
        display: block;
        margin-left: 450px;
    } 
}

@media (max-width: 800px){
    .logo{
        font-size: 30px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

     /* portfolio profile page */
    .pcontainer{
        width: 80%;
        margin: 85px auto;
        display: block;
        margin-bottom: 30px;
    }

    .pcontent{
        display: inline-block;
        align-items: center;
        width: 700px;
    }
    .pcontent h2{
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .pcontent h3{
        text-align: center;
        font-size: 16px;
    }

    .pcontent p{
        margin: 5px 0px;
        font-size: 16px;
    }

    .pcards{
        height: 320px;
    }

    /* art and games cards */
    .card .content{
        display: flex;
        align-items: center;
        width: 300px;
    }

    .cards .img{
        margin: 50px 50px;
    }

    .container{
        width: 50%;
    }

    .content p{
        margin: 15px 0px;
        font-size: 17px;
    }

     /* art page */
    .art img{
        width: 100%;
        width: 280px;
        height: 280px;
    }

    .art h2{
        font-size: 14px;
        margin: 320px 0px auto -250px;
    }

     /* games page */
     #gamecontainer{
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    
    #gamecontainer a{
        display: inline-block;
        border: 5px solid black;
        margin-left: 50px;
        font-weight: bold;
        font-size: 25px;
    }
    
    #gamecontainer h2{
        margin: 20px;
        font-size: 25px;
        text-decoration-line: underline;
        text-underline-offset: 5px
    }
    
    #gamecontainer h3{
        font-size: 18px;
        text-align: center;
    }
    
    #gamecontainer p{
        font-size: 18px;
    }
    
    #gamecontainer .game .imgmain{
        width: 100%;
        max-width: 400px;
        height: 250px;
        display: block;
        margin-left: 200px;
    } 
}

@media (max-width: 400px){
    .logo{
        position:fixed;
        font-size: 20px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

     /* portfolio profile page */
    .pcontainer{
        width: 100%;
        margin: 80px auto 0px;
        display: inline-block;
        margin-bottom: 30px;
    }

    .pcontent{
        display: inline-block;
        width: 280px;
        margin-right: 10px;
    }
    .pcontent h2{
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .pcontent h3{
        text-align: center;
        font-size: 12px;
    }

    .pcontent p{
        margin: 5px 0px;
        font-size: 12px;
    }

    .pcards{
        height: 410px;
    }

    /* art and games cards */
    .card .content{
        display: flex;
        align-items: center;
        width: 100px;
    }

    .cards .img{
        margin: 50px 50px;
    }

    .container{
        width: 70%;
        justify-items: center;
        align-items: center;
        margin-right: 70px;
    }

    .content p{
        margin: 15px 0px;
        font-size: 15px;
    }

     /* art page */
    .art img{
        width: 100%;
        width: 250px;
        height: 250px;
        margin-top: 20px;
    }

    .art h2{
        display: grid;
        font-size: 16px;
        margin: -70px 90px auto;
    }

    .art{
        display: grid;
        gap: 80px;
        padding: 8px;
    }

     /* games page */
     #gamecontainer{
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    
    #gamecontainer a{
        display: inline-block;
        border: 3px solid black;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
        font-size: 18px;
    }
    
    #gamecontainer h2{
        margin: 20px;
        font-size: 20px;
        text-decoration-line: underline;
        text-underline-offset: 5px
    }
    
    #gamecontainer h3{
        font-size: 14px;
        text-align: center;
    }
    
    #gamecontainer p{
        font-size: 14px;
    }
    
    #gamecontainer .game .imgmain{
        width: 100%;
        max-width: 250px;
        height: 150px;
        display: block;
        margin-left: 35px;
    } 
}

@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        padding: 30px 0;
    }
    nav ul li a{
        font-size: 20px;
    }

    .pcontainer{
        display: flex;
        align-items: center;
        width: 150px;
    }

    .card .content{
        display: flex;
        align-items: center;
        width: 200px;
    }

    a:hover,a.active{
        background: none;
        color: rgb(198, 0, 248);
    }
    
    #check:checked ~ ul{
        left: 0;
    }
}