
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
    
body{
    font-family:"Times New Roman", Times, serif;
    background-size: 100% 100%;
    background-image: url('./images/HomeBack.jpg');
    background-repeat: no-repeat;
    width: 100%; 
}


.header{
    box-sizing: border-box;
}

/* Logo's */
.logo{
    position: fixed;
    color: black;
    font-size: 30px;
    line-height: 60px;
    margin: 0 80px;
    font-weight: bold;
}

#logo{
    position: fixed;
    margin-top: 8px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

/* Navigation bar */
nav{
    background: rgba(192, 191, 191, 0.993);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(164, 164, 164);
    position: fixed;
    margin-top: -30px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

/* each button movement */
nav ul li{
    display: inline-block;
    line-height: 60px; 
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

a.active,a:hover{
    background: #ffffff;
    transition: .5s;
}

/* For the Burger Button */
nav .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Appearance */
/* .hidden{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
}

.visible{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0%);
} */

/* Text for homepage */
.profileimg img{
    border-radius: 50%;
    border: 5px solid black;
    justify-content: start;
    align-items: start;
    width: 250px;
    height: 250px;
}

.container{
    width: 100%;
    margin: 30px auto 30px;
    display: block;
}

.content{
    padding: 80px 10px;
    text-align: center;
}

.content h1{
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    margin: 20px 0px;
    text-align: center;
}

.content h2{
    font-size: 1.5em;
    margin: 20px 0px;
    text-align: center;
}

/* More About Me button */
.content .About-btn{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 0.1rem solid black;
    background: rgb(112, 112, 113);
    color: rgb(255, 255, 255);
    border-radius: .8rem;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    justify-content: center;
}

.content .About-btn:hover{
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
} 

/* footer design */
footer{
    background-color: rgb(255, 255, 255);
    margin: -15px auto -5px;

}

.footerbottom{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    width: 90%;
}

.footerbottom p{
  color: rgb(0, 0, 0);
}

.designer{
    text-transform: uppercase;
    font-weight: 300;
    margin: -10px 5px;
}

/* For sizing down the screen- media queries */
/* Desktop */
@media (max-width: 1500px){

    .logo{
        position: fixed;
        font-size: 40px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }

    nav{
        height: 60px;
        width: 100%;
        position: fixed;
        margin-top: -20px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    .profileimg img{
        width: 200px;
        height: 200px;
    }
    
    .container{
        width: 100%;
        margin: 20px auto 30px;
    }

    
    .content{
        padding: 200px 10px;

    }
    
    .content h1{
        font-size: 3em;
        margin: 10px 0px;
    }
    
    .content h2{
        font-size: 1.5em;
        margin: 20px 0px;
    }

    .content .About-btn{
        font-size: 15px;
        padding: 10px 20px;
    }

    /* footer */
    footer{
        margin: -100px auto -80px;
    }
    
    .footerbottom{
        padding: 20px;
        text-align: center;
        width: 90%; 
    }
    
    .footerbottom p{
      font-size: 20px;
    }
    
    .designer{
        font-size: 20px;
    }
}
/* Tablet */
@media (max-width: 800px){

    .logo{
        position: fixed;
        font-size: 25px;
    }

    #logo{
        position: fixed;
        width: 60px;
        height: 40px;
    }
    nav{

        height: 60px;
        width: 100%;
        position: fixed;
        margin-top: -20px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    .profileimg img{
        width: 150px;
        height: 150px;
    }
    
    .container{
        width: 100%;
        margin: 20px auto 30px;
    }
    
    .content{
        padding: 100px 10px;

    }
    
    .content h1{
        font-size: 2em;
        margin: 20px 0px;
    }
    
    .content h2{
        font-size: 1em;
        margin: 20px 0px;
    }

    /* footer */
    footer{
        margin: -5px auto -5px;
    }

    .footerbottom{
        padding: 15px;
        margin-left: 60px;
        text-align: center;
        width: 80%;
    }

    .footerbottom p{
        font-size: 15px;
    }

    .designer{
        font-size: 15px;
    }    
}
/* Mobile Phone- M*/
@media (max-width: 400px){

    .logo{
        position: fixed;
        font-size: 20px;
    }

    #logo{
        position: fixed;
        width: 55px;
        height: 40px;
    }
    nav{

        height: 60px;
        width: 100%;
        position: fixed;
        margin-top: -20px;
    }

    nav ul li a{
        font-size: 20px;
        font-weight: bold;
    }

    .profileimg img{
        width: 120px;
        height: 120px;
    }
    
    .container{
        width: 100%;
        margin: 20px auto 30px;

    }
    
    .content{
        padding: 120px 10px;

    }
    
    .content h1{
        font-size: 1.5em;
        margin: 20px 0px;
    }
    
    .content h2{
        font-size: 1em;
        margin: 20px 0px;
    }

    .content .About-btn{
        font-size: 12px;
        padding: 10px 15px;
    }

    /* footer */
    footer{
        margin: -5px auto -5px;
    }

    .footerbottom{
        padding: 15px;
        margin-left: 25px;
        text-align: center;
        width: 80%;
    }

    .footerbottom p{
        font-size: 14px;
    }

    .designer{
        font-size: 14px;
    }
}

/* slider bar */
@media (max-width: 850px){
    nav .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li{
        display: block;
        padding: 30px 0;
    
    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: rgb(198, 0, 248);
    }

    /* nav ul.show{
        left: 0;
    } */
    #check:checked ~ ul{
        left: 0;
    }
}


